<h1>Welcome to Go Free</h1> <br>
<%= form_tag locations_path, :method => :get do %>
  <p>
    <%= text_field_tag :search, params[:search] %>
    <%= submit_tag "Search Near", :name => nil %>
  </p>
<% end %>

<h3>Nearby Events</h3>
<ul><% @events.each do |event| %>
   <%# events = Event.where(location_id: 59) %>
 
    <li> Event Name:  <%= event.name %></li>
    <li> Start Time:  <%= event.start_time %></li>
    <li> End Time:  <%= event.end_time %></li>
    <li> Location:  <%= event.location.name %></li>
    <li>Distance:  <%= event.location.distance.round(2) %> miles away</li>
    <br>
  
</ul> 
<% end %>