<!DOCTYPE html>
<html>
<head>
  <title>GoFree</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <!--Tells to load all style sheets-->
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
<body>



  <div class="container">
    <div class="row">
        <div class="col-xs-12"><h1>Welcome to Go Free</h1><br><h3><%= link_to 'Home', '/' %></h3></div>
    </div>
  </div>


<%= yield %>

</body>
</html>


<!--...-->
<!--...-->
